<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restoranku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#233e8b"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
</head>
<body>
<a class="skip-content" tabindex="1" href="#wrapper">Ke Konten Utama</a>
<div class="navbar">
    <div class="navbar-brand" tabindex="2">
        <a href="/#/">Restoranku</a>
    </div>
    <button tabindex="3" class="burger-menu">
        <i class="fa fa-bars"></i>
    </button>
    <div class="menu">
        <a tabindex="3" href="/#/">Home</a>
        <a tabindex="4" href="/#/favourite">Favourite</a>
        <a tabindex="5" href="/#/about-us">About us</a>
    </div>
</div>
<div class="main-content">
   
</div>
<div class="footer">
    Copyright © 2021 - Restoranku
</div>
</body>
</html>
    