<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restoranku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<a class="skip-content" tabindex="1" href="#wrapper">Ke Konten Utama</a>
<div class="navbar">
    <div class="navbar-brand" tabindex="2">Restoranku</div>
    <button tabindex="3" class="burger-menu">
        <i class="fa fa-bars"></i>
    </button>
    <div class="menu">
        <a tabindex="3" href="/">Home</a>
        <a tabindex="4" href="#">Favourite</a>
        <a tabindex="5" target="blank" href="https://instagram.com/raflidev">About us</a>
    </div>
</div>
<div class="main-content">
    <div class="hero-element">
        <h1 class="judul">Tempat makannya anak gaul</h1>
        <p class="deskripsi">Nyaman, Enak, Instagramable adalah andalan kami</p>
    </div>
    <h3 class="judul" tabindex="6">Explore Restoran</h3>
    <div id="wrapper" class="wrapper-image">
    </div>
</div>
<div class="footer">
    Copyright © 2021 - Restoranku
</div>
</body>
</html>
