<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restoranku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar">
    <div class="navbar-brand">Restoranku</div>
    <div>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="#">Favourite</a>
        <a class="menu" target="blank" href="https://instagram.com/raflidev">About us</a>
    </div>
</div>
<div class="main-content">
    <div class="hero-element">
        Restoran oh Restoran
    </div>
    <div class="wrapper-image">
        <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
        <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
    </div>
</div>
</body>
</html>
